{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "mocha": true
  },
  "rules": {
    "comma-dangle": ["error", "only-multiline"],
    "func-names": 0,
    "prefer-destructuring": 0,
    "no-plusplus": 0,
    "quotes": 0,
    "function-paren-newline": 0,
    "space-before-function-paren": 0,
    "prefer-arrow-callback": 0
  }
}
